<div class="ember-view">
  <header>
    <h1 title="Write me a Codemod">JARVIS</h1>
    <div class="parser_wrapper">
      <PowerSelect
        @selected={{this.language}}
        @options={{this.languages}}
        @onChange={{this.onChangeLang}}
        as |lang|
      >
        {{lang}}
      </PowerSelect>

      <span
        title="AST Node operations whether to replace, remove or insert nodes"
        class="label-text"
      >OPCODE: &#9432;</span>
      <PowerSelect
        @selected={{this.opCode}}
        @options={{this.opCodes}}
        @onChange={{this.onChangeNodeOp}}
        as |opcode|
      >
        {{opcode}}
      </PowerSelect>
    </div>
    <div id="options">
      <SmartUpdateToggle @onUpdate={{this.toggleSmartUpdate}} />
      {{!  <DarkModeToggle />}}
      <span class="label-text">
        <button
          title="Download this transform as a codemod-cli project"
          class="download-btn"
          type="button"
          {{on "click" this.downloadProject}}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-down-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
            ></path>
          </svg>
          <span>Download</span>

        </button>
      </span>
    </div>
    <span class="label-text">{{this.parser.name}}:
      <strong>{{this.parser.version}}</strong></span>
  </header>
  <main>
    <div class="split" {{split-js direction="horizontal"}}>
      <div id="split-0" {{split-js direction="vertical"}}>
        <div id="split-01">
          <div
            id="editor"
            {{code-mirror
              content=this.editorSource
              onUpdate=this.onUpdateSource
              mode="js"
            }}
          ></div>

        </div>
        <div id="split-02">
          <div
            {{code-mirror
              content=this.editorTarget
              onUpdate=this.onUpdateDest
              mode="js"
            }}
          ></div>
        </div>
      </div>
      <div id="split-1" {{split-js direction="vertical"}}>
        <RightTopView
          @source={{this.source}}
          @mode={{this.mode}}
          @transform={{this.editorTransform}}
          @onUpdate={{this.onUpdateCodemod}}
        />
        <RightBottomView
          @target={{this.target}}
          @output={{this.output}}
          @mode={{this.mode}}
          @onUpdate={{this.onUpdateDest}}
        />
      </div>
    </div>

  </main>
  <footer>
    <p>
      Built with
      <a href="https://emberjs.com">Ember.js: {{this.emberVersion}}</a>
      |
      <a href="https://astexplorer.net/">AST-Explorer</a>
      |
      <a href="https://github.com/rajasegar/jarvis">Github</a>
      |
      <a href="https://github.com/rajasegar/jarvis/issues">Report issues</a>
    </p>
  </footer>
</div>