<div class="ember-view">
  <header>
    <h1 title="Write me a Codemod">JARVIS</h1>
    <div class="parser_wrapper">
      <span class="label-text"><LinkTo @route="index">New</LinkTo></span>
      <button
        type="button"
        class="btn btn-outline-secondary btn-sm"
        disabled={{this.buttonDisabled}}
      >
        {{this.buttonText}}
      </button>
      <PowerSelect
        @selected={{this.codemod.language}}
        @options={{this.codemod.languages}}
        @onChange={{action (mut this.codemod.language)}}
        as |lang|
      >
        {{lang}}
      </PowerSelect>

      <span class="label-text">Parser:</span>
      <PowerSelect
        @selected={{this.codemod.parser}}
        @options={{this.codemod.parsers}}
        @onChange={{action (mut this.codemod.parser)}}
        as |parser|
      >
        {{parser}}
      </PowerSelect>
      <span class="label-text">OPCODE:</span>
      <PowerSelect
        @selected={{this.opCode}}
        @options={{this.codemod.nodeOps}}
        @onChange={{this.onChangeNodeOp}}
        as |opcode|
      >
        {{opcode}}
      </PowerSelect>
    </div>
    <div id="options">
      <SmartUpdateToggle />
      <DarkModeToggle />
    </div>
    <span class="label-text">{{this.codemod.parser}}:
      <strong>{{this.codemod.parserVersion}}</strong></span>
  </header>
  <main>
    <div class="split" {{split-js direction="horizontal"}}>
      <div id="split-0" {{split-js direction="vertical"}}>
        <div id="split-01">
          <div
            id="editor"
            {{code-mirror content=this.code onUpdate=this.onUpdateSource}}
          ></div>
        </div>
        <div id="split-02">
          <div
            {{code-mirror content=this.dest onUpdate=this.onUpdateDest}}
          ></div>
        </div>
      </div>
      <div id="split-1" {{split-js direction="vertical"}}>
        <div id="split-11">
          <div
            id="ast-editor"
            {{code-mirror content=this.transform onUpdate=this.onUpdateCodemod}}
          ></div>
        </div>
        <div id="split-12">
          <div {{code-mirror content=this.output}}></div>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <p>
      Built with
      <a href="https://emberjs.com">Ember.js: {{emberVersion}}</a>
      |
      <a href="https://rajasegar.github.io/ast-builder/">AST-Builder</a>
      |
      <a href="https://rajasegar.github.io/ast-finder/">AST-Finder</a>
      |
      <a href="https://astexplorer.net/">AST-Explorer</a>
      |
      <a href="https://github.com/rajasegar/jarvis">Github</a>
      |
      <a href="https://github.com/rajasegar/jarvis/issues">Report issues</a>
    </p>
  </footer>
</div>