<Header
  @lang={{this.language}}
  @opCode={{this.opCode}}
  @onChangeLang={{this.onChangeLang}}
  @onChangeNodeOp={{this.onChangeNodeOp}}
  @toggleSmartUpdate={{this.toggleSmartUpdate}}
  @downloadProject={{this.downloadProject}}
/>
<main>
  <div class="split" {{split-js direction="horizontal"}}>
    <div id="split-0" {{split-js direction="vertical"}}>
      <div id="split-01">
        <HelpPanel>
          This is the source code BEFORE modification
        </HelpPanel>

        <div
          id="editor"
          {{code-mirror
            content=this.editorSource
            onUpdate=this.onUpdateSource
            mode="js"
          }}
        ></div>

      </div>
      <div id="split-02">
        <HelpPanel>
          This is the target code AFTER modification
        </HelpPanel>
        <div
          {{code-mirror
            content=this.editorTarget
            onUpdate=this.onUpdateDest
            mode="js"
          }}
        ></div>
      </div>
    </div>
    <div id="split-1" {{split-js direction="vertical"}}>
      <RightTopView
        @source={{this.source}}
        @mode={{this.mode}}
        @transform={{this.editorTransform}}
        @onUpdate={{this.onUpdateCodemod}}
      />
      <RightBottomView
        @target={{this.target}}
        @output={{this.output}}
        @mode={{this.mode}}
        @onUpdate={{this.onUpdateDest}}
      />
    </div>
  </div>

</main>
<footer>
  <p>
    Built with
    <a href="https://emberjs.com">Ember.js: {{this.emberVersion}}</a>
    |
    <a href="https://astexplorer.net/">AST-Explorer</a>
    |
    <a href="https://github.com/rajasegar/jarvis">Github</a>
    |
    <a href="https://github.com/rajasegar/jarvis/issues">Report issues</a>
  </p>
</footer>