<div {{split-view sizes=(array 50 50)}}>
  <div {{split-view sizes=(array 50 40) direction="vertical"}}>
    <div>
      {{!-- <p><strong>1.</strong> Enter source code here:</p> --}}
      {{ivy-codemirror 
	value=codemod.sourceCode 
        options=(hash 
        lineNumbers=true 
        mode=mode 
        theme=theme)
	valueUpdated=(action (mut codemod.sourceCode))
      }}
    </div>
    <div>
      {{!-- <p><strong>2.a.</strong> Enter destination code here:</p> --}}
      {{ivy-codemirror 
        value=codemod.destCode 
        valueUpdated=(action (mut codemod.destCode))
        options=(hash 
        lineNumbers=true 
        mode=mode 
        theme=theme 
        foldGutter=true)}}
    </div>
  </div>
  <div {{split-view sizes=(array 50 50) direction="vertical"}}>
    <div>
      {{!-- <p><strong>3.</strong> Codemod : </p> --}}
      {{ivy-codemirror 
        value=transform 
        options=(hash 
        lineNumbers=true 
        mode="javascript" 
        theme=theme 
        autoIndent=true )
     	valueUpdated=(action (mut transform))
      }}
    </div>
    <div>
      {{!-- <p><strong>4.</strong> Output :</p> --}}
      {{ivy-codemirror 
        value=output 
        options=(hash 
        lineNumbers=true 
        mode=mode 
        theme=theme 
        autoIndent=true )}}
    </div>
  </div>
</div>