<div class="split" {{split-js direction="horizontal"}}>
  <div id="split-0" {{split-js direction="vertical"}}>
    <div id="split-01">
      <div
        id="editor"
        {{code-mirror content=this.code onUpdate=this.onUpdateSource}}
      ></div>
    </div>
    <div id="split-02">
      <div {{code-mirror content=this.dest onUpdate=this.onUpdateDest}}></div>
    </div>
  </div>
  <div id="split-1" {{split-js direction="vertical"}}>
    <div id="split-11">
      <div
        id="ast-editor"
        {{code-mirror content=this.transform onUpdate=this.onUpdateCodemod}}
      ></div>
    </div>
    <div id="split-12">
      <div {{code-mirror content="bar();"}}></div>
    </div>
  </div>
</div>