<header>
  <h1>JARVIS</h1>
  <nav>
    <ul>
      <li>
        <a href="https://rajasegar.github.io/ast-builder/">ast-builder</a>
      </li>
      <li>
        <a href="https://rajasegar.github.io/ast-finder/">ast-finder</a>
      </li>
      <li>
        <a href="https://astexplorer.net/">ast-explorer</a>
      </li>
      <li>
        <span>Enable Dark theme: <Input @type="checkbox" @click={{action "toggleDarkMode"}}/></span>
      </li>

    </ul>
  </nav>
</header>
<main>
  {{outlet}}
</main>
<footer>
  <p>
  Built with <a href="https://emberjs.com">Ember.js: {{emberVersion}}</a> |
  <a href="https://github.com/rajasegar/ast-node-builder">ast-node-builder: {{nodeBuilderVersion}}</a> |
  <a href="https://github.com/rajasegar/ast-node-finder">ast-node-finder: {{nodeFinderVersion}}</a> |
    <a href="https://github.com/rajasegar/jarvis">Github</a> |
    <a href="https://github.com/rajasegar/jarvis/issues">Report issues</a> 
  </p>
</footer>