<header>
  <h1 title="Write me a Codemod">JARVIS</h1>
  <div class="parser_wrapper">
    <PowerSelect @selected={{language}} @options={{languages}} @onChange={{action (mut language)}} as |lang|>
      {{lang}}
    </PowerSelect>
    <span class="label-text">Parser:</span>
    <PowerSelect @selected={{parser}} @options={{parsers}} @onChange={{action (mut parser)}} as |parser|>
      {{parser}}
    </PowerSelect>
    <span class="label-text">OPCODE:</span>
    <PowerSelect @selected={{opCode}} @options={{nodeOps}} @onChange={{action (mut opCode)}} as |opcode|>
      {{opcode}}
    </PowerSelect>
  </div>
  <div id="options">
    <p>DarkMode: <Input @type="checkbox" @click={{action "toggleDarkMode"}}/></p>
  </div>
  <span class="label-text">{{parser}}: <strong>{{parserVersion}}</strong></span>
</header>
<main>
  <AstMaker 
  @mode={{mode}} 
  @code={{sampleCode}}
  @dest={{destCode}}
  @nodeOp={{opCode}}
  @parser={{parser}}></AstMaker>
</main>
<footer>
  <p>
    Built with <a href="https://emberjs.com">Ember.js: {{emberVersion}}</a> |
    <a href="https://github.com/rajasegar/ast-node-builder">ast-node-builder: {{nodeBuilderVersion}}</a> |
    <a href="https://github.com/rajasegar/ast-node-finder">ast-node-finder: {{nodeFinderVersion}}</a> |
    <a href="https://rajasegar.github.io/ast-builder/">ast-builder</a> |
    <a href="https://rajasegar.github.io/ast-finder/">ast-finder</a> |
    <a href="https://astexplorer.net/">ast-explorer</a> |
    <a href="https://github.com/rajasegar/jarvis">Github</a> |
    <a href="https://github.com/rajasegar/jarvis/issues">Report issues</a> 
  </p>
</footer>